<div class="bg-neutral-900 card w-full shadow-xl hover:bg-neutral-800 h-full">
  <figure>
    <img src="./assets/drinks/mojito-frutos-rojos-3.jpg" alt="Shoes" />
  </figure>

  <div class="card-body grid">
    <h2 class="card-title text-neutral-300 text-xl text-center font-bold justify-self-center"> {{currentProduct().name}} </h2>
    <div class="badge bg-red-800 justify-self-center">${{currentProduct().price}}</div>

    <div class="card-actions grid grid-cols-2 justify-self-center">
      <select name="" id="" class="select" #size>
        <option value="large" selected>Grande</option>
        <option value="small">Chico</option>
      </select>
      <button class="btn" (click)="addProduct(currentProduct(),size.value)">Agregar</button>
    </div>

  </div>
</div>
