<div class="bg-neutral-900 card w-full shadow-xl hover:bg-neutral-800">
  <figure>
    <img src="./assets/drinks/mojito-frutos-rojos-3.jpg" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-neutral-300 text-xl text-center font-bold">
      Mojito de frutos rojos
    </h2>
    <div class="badge badge-neutral badge-xl">$120</div>
    <!-- <p>A card component has a figure, a body part, and inside body there are title and actions parts</p> -->
    <div class="card-actions justify-end grid grid-cols-">
      <button class="btn">Agregar</button>
    </div>
  </div>
</div>
