 <div class="grid grid-cols-16 h-12 bg-stone-200 borded rounded shadow mb-1">

      <div class="ml-1 mt-2">
        <button class="hover:bg-neutral-400 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
            <g fill="#2d7101" fill-rule="evenodd" clip-rule="evenodd" stroke-width="0.5" stroke="#2d7101">
              <path
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m10-8a8 8 0 1 0 0 16a8 8 0 0 0 0-16" />
              <path d="M13 7a1 1 0 1 0-2 0v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4z" />
            </g>
          </svg></button>
      </div>

      <div class="mx-3 mt-2 text-center text-black text-xl font-bold">10</div>

      <div class="ml-4 mt-2">
        <button class="hover:bg-neutral-400 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 16 16">
            <path fill="none" stroke="#810A0A" d="M4 8h8m2.5 0a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0Z"
              stroke-width="1" />
          </svg></button>
      </div>

      <div class="col-span-10 ml-6 mt-2 text-black text-xl font-semibold">Mojito de Frutos rojos</div>

      <!-- TODO -->
      <!-- <div class="col-span-3 bg-red-500">Edit</div> -->

    </div>
